{% extends "base.html" %}

{% block title %}Fila de Chamados{% endblock %}

{% block content %}

    <div id="alerta_atende" class="alert alert-danger collapse alert-dismissible" role="alert">
        <h4 class="alert-heading">Erro ao selecionar o chamado</h4>
        <p>Ou algum atendente acabou de selecionar o chamado ou ocorreu um erro no servidor.</p>
    </div>

    <div id="alerta_devolve" class="alert alert-danger collapse" role="alert">
        <h4 class="alert-heading">Erro ao devolver o chamado</h4>
        <p>Ocorreu um erro no servidor.</p>
    </div>

	<div id="estatistica"></div>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">Chamados abertos para o setor : <b>{{ request.session.setor_nome }}</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <span class="filtro"></span>
                </div>
            </div>
        	<div class="row">
                <div class="col-sm-12">
                	<table id="tchamados" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                </div>
            </div>
        </div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Chamados selecionados para o usuário : <b>{{ user }}</b></div>
        <div class="panel-body">
        	<div class="row">
                <div class="col-sm-12">
                	<table id="tfila" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                </div>
            </div>
        </div>
	</div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" onclick="javascript:criaChamado();">Criar chamado</button>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block extra_javascript %}
	<script>
        var tableChamados;
        var tableFila;
        var chefia = {{ request.session.pessoa_chefia|lower }};
        
		$(document).ready(function() {

			tableChamados = $('#tchamados').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
				responsive: true,
				"columns": [
					{ 
						title: "Chamado" ,
						data: 'chamado_id'
					},
        			{ 
        				title: "Aberto",
        				data: 'chamado_data_abertura',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Grupo",
        				data: 'chamado_grupo_servico',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Serviço",
        				data: 'chamado_servico',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Assunto",
        				data: 'chamado_assunto',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Solicitante",
        				data: 'chamado_usuario',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
                    { 
                        title: "status" ,
                        data: 'status'
                    }
        		],
        		"columnDefs": [
        			{
        				"targets": [0],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [1],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [2],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [3],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [4],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [5],
        	   			"visible": true,
        			},
                    {
                        "targets": [6],
                        "visible": true,
                    },
                    {
                        "targets": [7],
                        "data": null,
                        "render" : function(data, type, full, meta) {
                            if (full.status == 'FECHADO' || full.status == 'ATENDIMENTO')
                                if (full.status == 'ATENDIMENTO' && chefia)
                                    return "<a href='#'><span id='devolve' class='badge progress-bar-danger'>Devolver</span></a>";
                                else
                                    return '';
                            else
                                return "<a href='#'><span id='atende' class='badge progress-bar-success'>Atender</span></a>";
                        },
                        "className": "dt-center"
                    },
                    {
                        "targets": [8],
                        "data": null,
                        "render" : function(data, type, full, meta) {
                            if (full.status == 'FECHADO' && full.fila_usuario == full.chamado_usuario)
                                return "<a href='#'><span id='reabre' class='badge progress-bar-danger'>Reabrir</span></a>";
                            else
                                return "";
                        },
                        "className": "dt-center"
                    },

        		],
        		"language": {
                	"info": "Páginas _PAGE_ de _PAGES_",
                	"emptyTable": "Sem chamados para o setor",
                	"decimal": ",",
                	"thousands": ".",
                	"oPaginate": {
	                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    	"sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    	"sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    	"sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                	}
            	},
                "deferRender": true,
        		"bPaginate" : true,
        		"bLengthChange": false,
        		"bFilter": true,
            	"bInfo": false,
            	"ajax": {
        			"url": "/fila/api/chamados_abertos/{{ request.session.setor_id }}",
        			"dataSrc": "",
        		},
                "sDom": '<"top"i>rt<"bottom"lp><"clear">',
			});

            $('#tchamados tbody').on('click', '#atende', function () {
                var data = tableChamados.row( $(this).parents('tr') ).data();
                atende(data.chamado_id);
            });

			tableFila = $('#tfila').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
				responsive: true,
				"columns": [
					{ 
						title: "fila_id" ,
						data: 'fila_id'
					},
					{ 
						title: "Chamado" ,
						data: 'chamado_id'
					},
        			{ 
        				title: "Aberto",
        				data: "chamado_data_abertura",
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/edita/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Grupo",
        				data: 'chamado_grupo_servico',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/edita/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Serviço",
        				data: 'chamado_servico',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/edita/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Assunto",
        				data: 'chamado_assunto',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/edita/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			},
        			{ 
        				title: "Solicitante",
        				data: 'chamado_usuario',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/edita/' + full.chamado_id + '/">'+ data + '</a>';
                        }
        			}
        		],
        		"columnDefs": [
        			{
        				"targets": [0],
        	   			"visible": false,
        			},
        			{
        				"targets": [1],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [2],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [3],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [4],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [5],
        	   			"visible": true,
        			},
        			{
        	   			"targets": [6],
        	   			"visible": true,
        			},
                    {
                        "targets": [7],
                        "data": null,
                        "defaultContent": "<a href='#'><span id='devolve' class='badge progress-bar-danger'>Devolver</span></a>",
                        "className": "dt-center"
                    },


        		],
        		"language": {
                	"info": "Páginas _PAGE_ de _PAGES_",
                	"emptyTable": "Sem chamados para o atendente",
                	"decimal": ",",
                	"thousands": ".",
                	"oPaginate": {
	                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    	"sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    	"sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    	"sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                	}
            	},
                "deferRender": true,
        		"bPaginate" : true,
        		"bLengthChange": false,
        		"bFilter": false,
            	"bInfo": false,
            	"ajax": {
        			"url": "/fila/api/chamados_atendente/{{ user.id }}/ATENDIMENTO/",
        			"dataSrc": "",
        		},
			});

            $('#tfila tbody').on('click', '#devolve', function () {
                var data = tableFila.row( $(this).parents('tr') ).data();
                devolve(data.chamado_id);
            });

            $('#tchamados tbody').on('click', '#devolve', function () {
                var data = tableChamados.row( $(this).parents('tr') ).data();
                devolve(data.chamado_id);
            });

            $('#tchamados tbody').on('click', '#reabre', function () {
                var data = tableChamados.row( $(this).parents('tr') ).data();
                reabre(data.chamado_id);
            });

			atualiza_estatisticas();
            montaComboFiltro();

			var tim = setInterval(function() {
				tableChamados.ajax.reload(null, false);
				tableFila.ajax.reload(null, false);
				atualiza_estatisticas();				
			}, 10000);

            var tim2 = setInterval(function() {
                $('.alert').alert('close');
            }, 5000);

            $('span.filtro select').change(function() {
                console.log(this.value);
                if (this.value == 'TODOS')
                    tableChamados.search('').draw();
                else    
                    tableChamados.search(this.value).draw();
            });

		});

		function atualiza_estatisticas() {
			request_url = '/fila/api/chamados_estatistica/';

			$.ajax({
      			url: request_url,
      			type: 'GET',
      			accepts: 'application/json',
      			dataType: 'json',
      			success: function(result){
      				$('#estatistica').empty();
      				$('#estatistica').append('<span class="label label-success">Total de chamados finalizados : ' + result[0].atendidos +'</span> <span class="label label-warning">Total de chamados em atendimento : ' + result[2].atendimento + '</span> <span class="label label-danger">Total de chamados abertos : ' + result[1].abertos + '</span>')
      	        	
      			},
      			error: function(xhr, status, error) {
                    console.log('Problema ao carregar informações dos chamados.');
      			}
    		})
		}

        function atende(id_chamado) {
            request_url = '/fila/api/atende/' + id_chamado + '/';

            $.ajax({
                url: request_url,
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json',
                success: function(result){
                    tableChamados.ajax.reload(null, false);
                    tableFila.ajax.reload(null, false);
                    atualiza_estatisticas();
                },
                error: function(xhr, status, error) {
                    $('#alerta_atende').show();
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            })
        }

        function devolve(id_chamado) {
            request_url = '/fila/api/devolve/' + id_chamado + '/';

            $.ajax({
                url: request_url,
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json',
                success: function(result){
                    tableChamados.ajax.reload(null, false);
                    tableFila.ajax.reload(null, false);
                    atualiza_estatisticas();  
                },
                error: function(xhr, status, error) {
                    $('#alerta_devolve').show();
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            })
        }

        function montaComboFiltro() {
            var filtro = "Filtrar chamados : <select name='filtro' id='filtro'><option value='TODOS' selected>TODOS</option><option value='ABERTO'>ABERTO</option><option value='ATENDIMENTO'>ATENDIMENTO</option><option value='FECHADO'>FECHADO</option></select>";
            $('span.filtro').empty();
            $('span.filtro').append(filtro);
        }

        function criaChamado() {
            location.href = '/chamado/cria/';
        }

        function reabre(id_chamado) {
            request_url = '/fila/api/reabre/' + id_chamado + '/';

            $.ajax({
                url: request_url,
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json',
                success: function(result){
                    tableChamados.ajax.reload(null, false);
                    tableFila.ajax.reload(null, false);
                    atualiza_estatisticas();  
                },
                error: function(xhr, status, error) {
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            })
        }

        $(document).ready(function () {
            $('#id_filtro').selectpicker();
        });
        
	</script>
{% endblock %}