<!DOCTYPE html>
 <html lang="pt-BR">
 <head>
    {% load pipeline %}
    {% stylesheet 'master' %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
  
  <div class="container">
      <div class="starter-template">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">CMC Chamados</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/fila/">Atendimento</a></li>
                        <li><a href="/chamado/">Meus chamados</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Cadastro<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/cadastro/grupo_servico/">Grupos de Serviço</a></li>
                                <li><a href="/cadastro/servico/">Serviços</a></li>
                                <li><a href="/cadastro/setor/">Setores</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Relatórios<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/relatorio/chamado/">Chamados</a></li>
                            </ul>
                        </li>
                        <li><a href="/autentica/sair/">Sair</a></li>
                    </ul>
                </div>
                </div>
            </nav>            

            <div class="bs-callout bs-callout-default">
                <h4>{% block title %}Seja bem vindo, {{ user.first_name }}{% endblock %}</h4>
            </div>

            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <div class="alert alert-success">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
                {% if 'error' in message.tags %}
                    <div class="alert alert-danger">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}

        {% block content %}{% endblock content %}
      </div>
    </div>
    {% javascript 'master' %}

    <script>

        $(document).ready( function() {
            $('.dropdown-toggle').dropdown();
        });

        $(".nav a").on("click", function(){
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });

        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 

    </script>

    {% block extra_javascript %}

    {% endblock extra_javascript %}
 </body>
 </html>