{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Informações do Chamado{% endblock %}

{% block content %}

<div id="chamadoTab" class="container">

    <div id="alerta_atende" class="alert alert-danger collapse alert-dismissible" role="alert">
        <h4 class="alert-heading">Erro ao selecionar o chamado</h4>
        <p>Ou algum atendente acabou de selecionar o chamado ou ocorreu um erro no servidor.</p>
    </div>

    <div id="alerta_atendido" class="alert alert-success collapse alert-dismissible" role="alert">
        <h4 class="alert-heading">Chamado atendido com sucesso</h4>
    </div>
    
    <ul class="nav nav-tabs">
        <li>
            <a href="#1" data-toggle="tab">Dados do Chamado</a>
        </li>
        <li>
            {% if num_respostas > 0 %}
                <a href="#2" data-toggle="tab">Respostas <span class="badge">{{ num_respostas }}</span></a>
            {% else %}
                <a href="#2" data-toggle="tab">Respostas</span></a>
            {% endif %}
        </li>
        <li>
            {% if num_imagens > 0 %}
                <a href="#3" data-toggle="tab">Imagens anexadas <span class="badge">{{ num_imagens }}</span></a>
            {% else %}
                <a href="#3" data-toggle="tab">Imagens anexadas</a>
            {% endif %}
            
        </li>
        <li>
            {% if num_assinaturas > 0 %}
                <a href="#4" data-toggle="tab">Assinaturas <span class="badge">{{ num_assinaturas }}</span></a>
            {% else %}
                <a href="#4" data-toggle="tab">Assinaturas</a>
            {% endif %}
        </li>
        <li>
            {% if num_reaberturas > 0 %}
                <a href="#5" data-toggle="tab">Reaberturas <span class="badge">{{ num_reaberturas }}</span></a>
            {% else %}
                <a href="#5" data-toggle="tab">Reaberturas</a>
            {% endif %}
        </li>
    </ul>
    <br/>
    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <div class="panel panel-primary">
            <div class="panel-heading"><h4>Informações do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Data de abertura: </b>{{ object.data_abertura|date:"d/m/Y H:i"  }}
                        </li>
                        <li class="list-group-item">
                            <b>Solicitante: </b>{{ object.usuario }}
                        </li>
                        <li class="list-group-item">
                            <b>Setor Solicitante: </b>{{ setor_solicitante }}
                        </li>
                        <li class="list-group-item">
                            <b>Atendente: </b>{{ atendente|default_if_none:"" }}
                        </li>
                        <li class="list-group-item">
                            <b>Ramal: </b>{{ object.ramal|default_if_none:"" }}
                        </li>
                        <li class="list-group-item">
                            <b>Setor Destino</b>: {{ object.setor }}
                        </li>
                        <li class="list-group-item">
                            <b>Grupo de serviço: </b>{{ object.grupo_servico }}
                        </li>
                        <li class="list-group-item">
                            <b>Serviço: </b>{{ object.servico }}
                        </li>
                        <li class="list-group-item">
                            <b>Assunto: </b>{{ object.assunto|default_if_none:"" }}
                        </li>
                        <li class="list-group-item">
                            <b>Descrição: </b>{{ object.descricao }}
                        </li>
                        <li class="list-group-item">
                            <b>Prioridade: </b>{{ object.prioridade }}
                        </li>
                        <li class="list-group-item">
                            <b>Status: </b>{{ object.status }}
                        </li>
                        {% if object.patrimonio is not None %}
                            <li class="list-group-item">
                                <b>Patrimônio: </b>{{ object.patrimonio }}
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <b>Respostas: </b><br/>
                            {% for resposta in respostas %}
                                <i class="fas fa-comment"></i> {{ resposta.data|date:"d/m/Y H:i" }} - {{ resposta }}<br/>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                                <input type="button" data-toggle="modal" data-target="#imprimeModal" data-chamado_id="{{ object.id }}" value="Imprime" class="btn btn-default"/> 
                                {% if object.status == 'ABERTO' and atende %}
                                    &nbsp;
                                    <input type="button" onclick="javascript:atende({{ object.id }});" value="Atender" class="btn btn-success"/> 
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane" id="2">
            <div class="panel panel-primary">
            <div class="panel-heading"><h4>Respostas do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="trespostas" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                                {% if object.status == 'ABERTO' and atende %}
                                    &nbsp;
                                    <input type="button" onclick="javascript:atende({{ object.id }});" value="Atender" class="btn btn-success"/> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane" id="3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Imagens anexadas do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <input id="arquivos" name="arquivos" type="file">
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                                {% if object.status == 'ABERTO' and atende %}
                                    &nbsp;
                                    <input type="button" onclick="javascript:atende({{ object.id }});" value="Atender" class="btn btn-success"/> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="4">
            <div class="panel panel-primary">
            <div class="panel-heading"><h4>Assinaturas do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tassinaturas" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                                {% if object.status == 'ABERTO' and atende %}
                                    &nbsp;
                                    <input type="button" onclick="javascript:atende({{ object.id }});" value="Atender" class="btn btn-success"/> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="5">
            <div class="panel panel-primary">
            <div class="panel-heading"><h4>Reaberturas do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="treaberturas" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                                {% if object.status == 'ABERTO' and atende %}
                                    &nbsp;
                                    <input type="button" onclick="javascript:atende({{ object.id }});" value="Atender" class="btn btn-success"/> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="respostaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Nova resposta</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <input type="hidden" name="id_chamado" id="id_chamado" value="{{ object.id }}" />
            <input type="hidden" name="id_usuario" id="id_usuario" value="{{ user.id }}" />
            <label for="resposta" class="control-label">Resposta:</label>
            <textarea class="form-control" id="resposta" name="resposta"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Imprime -->
<div class="modal fade" id="imprimeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" id="componentes">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Imprime chamado</h4>
      </div>
      <div class="modal-body">
        <form class="imprime" action="/chamado/imprime/">{% csrf_token %}
            <input type="hidden" name="id_chamado" id="id_chamado" value="{{ object.id }}" />
            <label class="radio-inline"><input type="radio" name="opt" checked value="0">Completo</label>
            <label class="radio-inline"><input type="radio" name="opt" value="1">Simplificado</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="submit" onclick="javascript:imprime();">Imprime</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_javascript %}

<script type="text/javascript">

    var tableRespostas;
    $(document).ready(function() {
        desabilita();
        tableRespostas = $('#trespostas').DataTable({
            responsive: true,
            "columns": [
                { 
                    title: "id_resposta" ,
                    data: 'resposta_id'
                },
                { 
                    title: "id_chamado" ,
                    data: 'chamado_id'
                },
                { 
                    title: "Data",
                    data: 'data',
                    render: function(data, type, full, meta) {
                        return '<a href="#" data-toggle="modal" data-target="#respostaModal" data-resposta="' + full.resposta + '" data-chamado_id="' + full.chamado_id + '">' + data + '</a>';
                    }
                },
                { 
                    title: "Usuário",
                    data: 'usuario',
                    render: function(data, type, full, meta) {
                        return '<a href="#" data-toggle="modal" data-target="#respostaModal" data-resposta="' + full.resposta + '" data-chamado_id="' + full.chamado_id + '">' + data + '</a>';
                    }
                },
                { 
                    title: "Resposta",
                    data: 'resposta',
                    render: function(data, type, full, meta) {
                        return '<a href="#" data-toggle="modal" data-target="#respostaModal" data-resposta="' + full.resposta + '" data-chamado_id="' + full.chamado_id + '">' + data + '</a>';
                    }
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [1],
                    "visible": false,
                },
                {
                    "targets": [2],
                    "visible": true,
                },
                {
                    "targets": [3],
                    "visible": true,
                },
                {
                    "targets": [4],
                    "visible": true,
                }

            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Sem respostas para o chamado",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "bPaginate" : true,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "ajax": {
                "url": "/fila/api/respostas/{{ object.id }}/",
                "dataSrc": "",
            },
        });

        tableAssinaturas = $('#tassinaturas').DataTable({
            responsive: true,
            "columns": [
                { 
                    title: "id_assinatura" ,
                    data: 'assinatura_id'
                },
                { 
                    title: "id_chamado" ,
                    data: 'chamado_id'
                },
                { 
                    title: "Assinatura",
                    data: 'email'
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [1],
                    "visible": false,
                },
                {
                    "targets": [2],
                    "visible": true,
                },


            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Sem assinaturas para o chamado",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "bPaginate" : true,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "ajax": {
                "url": "/fila/api/assinaturas/{{ object.id }}/",
                "dataSrc": "",
            },
        });

        tableReaberturas = $('#treaberturas').DataTable({
            responsive: true,
            "columns": [
                { 
                    title: "id_reabertura" ,
                    data: 'reabertura_id'
                },
                { 
                    title: "id_chamado" ,
                    data: 'chamado_id'
                },
                { 
                    title: "Data de reabertura",
                    data: 'data_reabertura'
                },
                { 
                    title: "Motivo",
                    data: 'motivo'
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [1],
                    "visible": false,
                },
                {
                    "targets": [2],
                    "visible": true,
                },
                {
                    "targets": [3],
                    "visible": true,
                },


            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Sem reaberturas para o chamado",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "bPaginate" : true,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "ajax": {
                "url": "/fila/api/reaberturas/{{ object.id }}/",
                "dataSrc": "",
            },
        });

        $("#arquivos").fileinput({
            language: "pt-BR",
            showUpload: false, 
            showRemove: false,
            showBrowse: false,
            showPreview: true,
            showCaption: false,
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
            maxFileSize: 5000,
            maxFilesNum: 3,
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreviewShowDelete: false,
            initialPreview: [
                {% for imagem in imagens %}
                    "/media/{{ imagem.arquivo }}",
                {% endfor %}
            ]

        });

    });

    function desabilita() {
        $("#id_setor").prop('disabled', true);
        $("#id_grupo_servico").prop('disabled', true);
        $("#id_servico").prop('disabled', true);
        $("#id_ramal").prop('disabled', true);
        $("#id_assunto").prop('disabled', true);
        $("#id_descricao").prop('disabled', true);
    }

    function volta_fila() {
        if ((document.referrer).indexOf("fila") >= 0)
            $(location).attr('href', '/fila/');
        else
            $(location).attr('href', '/chamado/');
    }

    function volta_detalhes(id_chamado) {
        $(location).attr('href', '/chamado/edita/' + id_chamado + '/');
    }

    function atende(id_chamado) {
        request_url = '/fila/api/atende/' + id_chamado + '/';


        $.ajax({
            url: request_url,
            type: 'GET',
            accepts: 'application/json',
            dataType: 'json',
            success: function(result){
                $('#alerta_atendido').show();
                //tableFila.ajax.reload(null, false);
                //atualiza_estatisticas();
                volta_detalhes(id_chamado);
            },
            error: function(xhr, status, error) {
                $('#alerta_atende').show();
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        })
    }

    $('#respostaModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('chamado_id');
        var recipient2 = button.data('resposta');
        var modal = $(this);
        modal.find('.modal-title').text('Resposta para o chamado:  ' + recipient)
        modal.find('.modal-body textarea').val(recipient2)
    });

    function imprime() {
        var data = $('form.imprime').serialize();
        var request_url = '/chamado/imprime?' + data;
        $("#imprimeModal").modal('hide');
        window.open(request_url, 'chamado');
    }


</script>

{% endblock %}