{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Informações do Chamado{% endblock %}

{% block content %}

<div id="chamadoTab" class="container">
    
    <ul class="nav nav-tabs">
        <li>
            <a href="#1" data-toggle="tab">Dados do Chamado</a>
        </li>
        <li>
            {% if num_respostas > 0 %}
                <a href="#2" data-toggle="tab">Respostas <span class="badge">{{ num_respostas }}</span></a>
            {% else %}
                <a href="#2" data-toggle="tab">Respostas</span></a>
            {% endif %}
        </li>
        <li>
            <a href="#3" data-toggle="tab">Imagens anexadas</a>
        </li>
    </ul>
    <br/>
    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <div class="panel panel-primary">
            <div class="panel-heading"><h4>Informações do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Data de abertura: </b>{{ object.data_abertura|date:"d/m/Y H:i"  }}
                        </li>
                        <li class="list-group-item">
                            <b>Solicitante: </b>{{ object.usuario }}
                        </li>
                        <li class="list-group-item">
                            <b>Setor Solicitante: </b>{{ setor_solicitante }}
                        </li>
                        <li class="list-group-item">
                            <b>Atendente: </b>{{ atendente }}
                        </li>
                        <li class="list-group-item">
                            <b>Ramal: </b>{{ object.ramal }}
                        </li>
                        <li class="list-group-item">
                            <b>Setor</b>: {{ object.setor }}
                        </li>
                        <li class="list-group-item">
                            <b>Grupo de serviço: </b>{{ object.grupo_servico }}
                        </li>
                        <li class="list-group-item">
                            <b>Serviço: </b>{{ object.servico }}
                        </li>
                        <li class="list-group-item">
                            <b>Assunto: </b>{{ object.assunto }}
                        </li>
                        <li class="list-group-item">
                            <b>Descrição: </b>{{ object.descricao }}
                        </li>
                        <li class="list-group-item">
                            <b>Prioridade: </b>{{ object.prioridade }}
                        </li>
                        <li class="list-group-item">
                            <b>Status: </b>{{ object.status }}
                        </li>
                        <li class="list-group-item">
                            <b>Respostas: </b><br/>
                            {% for resposta in respostas %}
                                <i class="fas fa-comment"></i> {{ resposta.data|date:"d/m/Y H:i" }} - {{ resposta }}<br/>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane" id="2">
            <div class="panel panel-primary">
            <div class="panel-heading"><h4>Respostas do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="trespostas" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane" id="3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Imagens anexadas do chamado : {{ object.id }}</h4></div>
                <div class="panel-body">
                    <input id="arquivos" name="arquivos" type="file">
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row"> 
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="respostaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Nova resposta</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <input type="hidden" name="id_chamado" id="id_chamado" value="{{ object.id }}" />
            <input type="hidden" name="id_usuario" id="id_usuario" value="{{ user.id }}" />
            <label for="resposta" class="control-label">Resposta:</label>
            <textarea class="form-control" id="resposta" name="resposta"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_javascript %}

<script type="text/javascript">

    var tableRespostas;
    $(document).ready(function() {
        desabilita();
        tableRespostas = $('#trespostas').DataTable({
            responsive: true,
            "columns": [
                { 
                    title: "id_resposta" ,
                    data: 'resposta_id'
                },
                { 
                    title: "id_chamado" ,
                    data: 'chamado_id'
                },
                { 
                    title: "Data",
                    data: 'data',
                    render: function(data, type, full, meta) {
                        return '<a href="#" data-toggle="modal" data-target="#respostaModal" data-resposta="' + full.resposta + '" data-chamado_id="' + full.chamado_id + '">' + data + '</a>';
                    }
                },
                { 
                    title: "Usuário",
                    data: 'usuario',
                    render: function(data, type, full, meta) {
                        return '<a href="#" data-toggle="modal" data-target="#respostaModal" data-resposta="' + full.resposta + '" data-chamado_id="' + full.chamado_id + '">' + data + '</a>';
                    }
                },
                { 
                    title: "Resposta",
                    data: 'resposta',
                    render: function(data, type, full, meta) {
                        return '<a href="#" data-toggle="modal" data-target="#respostaModal" data-resposta="' + full.resposta + '" data-chamado_id="' + full.chamado_id + '">' + data + '</a>';
                    }
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [1],
                    "visible": false,
                },
                {
                    "targets": [2],
                    "visible": true,
                },
                {
                    "targets": [3],
                    "visible": true,
                },
                {
                    "targets": [4],
                    "visible": true,
                }

            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Sem respostas para o chamado",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "bPaginate" : true,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "ajax": {
                "url": "/fila/api/respostas/{{ object.id }}/",
                "dataSrc": "",
            },
        });

        $("#arquivos").fileinput({
            language: "pt-BR",
            showUpload: false, 
            showRemove: false,
            showBrowse: false,
            showPreview: true,
            showCaption: false,
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
            maxFileSize: 5000,
            maxFilesNum: 3,
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreviewShowDelete: false,
            initialPreview: [
                {% for imagem in imagens %}
                    "/media/{{ imagem.arquivo }}",
                {% endfor %}
            ]

        });

    });

    function desabilita() {
        $("#id_setor").prop('disabled', true);
        $("#id_grupo_servico").prop('disabled', true);
        $("#id_servico").prop('disabled', true);
        $("#id_ramal").prop('disabled', true);
        $("#id_assunto").prop('disabled', true);
        $("#id_descricao").prop('disabled', true);
    }

    function volta_fila() {
        if ((document.referrer).indexOf("fila") >= 0)
            $(location).attr('href', '/fila/');
        else
            $(location).attr('href', '/chamado/');
    }

    $('#respostaModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('chamado_id');
        var recipient2 = button.data('resposta');
        var modal = $(this);
        modal.find('.modal-title').text('Resposta para o chamado:  ' + recipient)
        modal.find('.modal-body textarea').val(recipient2)
    });


</script>

{% endblock %}