{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Chamados{% endblock %}

{% block content %}
	<div class="panel panel-primary">
        <div class="panel-heading">Chamados realizados pelo usuário : <b>{{ user }}</b></div>
        <div class="panel-body">
        	<div class="row">
                <div class="col-sm-12">
                	<table id="tchamados" class="table table-striped table-hover table-bordered" width="100%" cellspacing="0"></table>
                </div>
            </div>
        </div>
	</div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" onclick="javascript:criaChamado();">Criar chamado</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal reabre -->
    <div class="modal fade" id="reabreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document" id="componentes">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Reabre chamado</h4>
          </div>
          <div class="modal-body">
            <form class="reabre" >{% csrf_token %}
                <input type="hidden" name="chamado_id" id="chamado_id" value="{{ object.id }}" />
                <label for="motivo" class="control-label">Motivo:</label>
                <textarea class="form-control" id="motivo" name="motivo"></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="submit" onclick="javascript:reabre();">Reabre</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_javascript %}
<script>
    var tableChamados;
	
    $(document).ready(function() {

        $.fn.dataTable.moment('DD/MM/YYYY HH:mm');

        tableChamados = $('#tchamados').DataTable({
            responsive: true,
            "columns": [
                {
                    title: "Chamado" ,
                    data: 'chamado_id'
                },
                {
                    title: "Aberto",
                    data: 'data_abertura', 
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ moment(data).format('DD/MM/YYYY HH:mm') + '</a>';

                    }
                    
                },
                {
                    title: "Setor",
                    data: 'setor',
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
                {
                    title: "Grupo Serviço",
                    data: 'grupo_servico',
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
                { 
                        title: "Serviço",
                        data: 'servico',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
                    },
                {
                    title: "Status",
                    data: 'status',
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
                { 
                    title: "Reaberto" ,
                    data: 'reaberto',
                    render: function(data, type, full, meta) {
                        if (full.reaberto == true)
                            return "<span class='badge progress-bar-warning'>Sim</span>"
                        else
                            return "<span class='badge progress-bar-default'>Não</span>"

                    },
                    "className": "dt-center"
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": true,
                    "responsivePriority": 1, 
                },
                {
                    "targets": [1],
                    "visible": true,
                    "responsivePriority": 2, 
                },
                {
                    "targets": [2],
                    "visible": true,

                },
                {
                    "targets": [3],
                    "visible": true,
                },
                {
                    "targets": [4],
                    "visible": true,
                },
                {
                    "targets": [5],
                    "visible": true,
                },
                {
                    "targets": [6],
                    "visible": true,
                },
                {
                    "targets": [7],
                    "visible": true,
                    "className": "dt-center",
                    "data": null,
                    render: function(data, type, full, meta) {
                        if (full.novidade)
                            return '<i class="far fa-bell fa-lg" aria-hidden="true" style="color:Tomato;" title="Este chamado tem novidade"></i>';
                        else
                            return '';
                    }
                },
                {
                    "targets": [8],
                    "visible": true,
                    "className": "dt-center",
                    "data": null,
                    render: function(data, type, full, meta) {
                        if (full.status == 'FECHADO')
                                /*
                                return "<a href='#'><span id='reabre' class='badge progress-bar-danger'>Reabrir</span></a>";
                                */
                                return '<a href="#" data-toggle="modal" data-target="#reabreModal" data-chamado_id="' +  full.chamado_id + '"><span id="_reabre" class="badge progress-bar-danger">Reabrir</span></a>';
                            else
                                return "";
                    }
                },
            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Você nunca abriu algum chamado",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "deferRender": true,
            "bPaginate" : true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "ajax": {
                "url": "/chamado/api/chamados_usuario/{{ user.id }}",
                "dataSrc": "",
            },
            "sDom": '<"top"i>rt<"bottom"lp><"clear">',
        });

        var tim = setInterval(function() {
			tableChamados.ajax.reload(null, false);
		}, 10000);

        $('#tchamados tbody').on('click', '#reabre', function () {
            var data = tableChamados.row( $(this).parents('tr') ).data();
            reabre(data.chamado_id);
        });

    });

    function reabre() {
        var data = $('form.reabre').serialize();
        request_url = '/fila/api/reabre?' + data;
        console.log(request_url);

        $("#reabreModal").modal('hide');

        $.ajax({
            url: request_url,
            type: 'GET',
            accepts: 'application/json',
            dataType: 'json',
            success: function(result){
                tableChamados.ajax.reload(null, false);
                //tableFila.ajax.reload(null, false);
                //atualiza_estatisticas();  
            },
            error: function(xhr, status, error) {
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        })
    }

    function criaChamado() {
        location.href = '/chamado/cria/';
    }

    $('#reabreModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('chamado_id');
        var modal = $(this);
        modal.find('.modal-title').text('Reabre chamado  ' + recipient);
        $(".modal-body #chamado_id").val(recipient);

        setTimeout(function (){
            $('#motivo').focus();
        }, 500);
    });

</script>
{% endblock %}