{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Chamados{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">Criar novo chamado</div>
		<div class="panel-body">
			<form name="formulario" id="formulario" method="post" action="" enctype="multipart/form-data">
				{% crispy form %}
				<input type="hidden" name="usuario_id" id="usuario_id" value="{{user.id}}"/>
			</form>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-body">
	    	<div class="col-md-12 row">
	    		<input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
				<button type="button" class="btn btn-primary" onclick="javascript:salvarChamado();">Salvar</button>
	    	</div>
	    </div>
	</div>
    

{% endblock %}

{% block extra_javascript %}
<script>
	var valor_grupo;
	var valor_servico;

	$(document).ready(function () {

		atualizaGrupoServico();
		atualizaServico();
		atualizaLocalizacao();
		atualizaPavimento();

		$('#id_setor').on('change', function() {
            atualizaGrupoServico();    
    	});
		$('#id_grupo_servico').on('change', function() {
    		atualizaServico();
    	});
    	$('#id_localizacao').on('change', function() {
    		atualizaLocalizacao();
    	});

    	$("#id_foto").fileinput({
            language: "pt-BR",
            showUpload: false, 
            showPreview: true,
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
            maxFileSize: 5000,
            maxFileCount: 3,
            initialPreviewAsData: true,
            overwriteInitial: false,
        });
	});

	function atualizaGrupoServico() {
		valor_grupo = $('#id_grupo_servico').val();
		valor_servico = $('#id_servico').val();
		$('#id_grupo_servico').empty();
		if ($('#id_setor option:selected').val() == '' || $('#id_setor option:selected').val() == '0') {
			request_url = '/chamado/api/grupo_servico/99999';
        }
       	else {
    		  request_url = '/chamado/api/grupo_servico/' + $('#id_setor option:selected').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var toAppend = '';
				$.each(result, function(index, element) {
                    if (element.gs_id == valor_grupo) {
					   toAppend += '<option value="' + element.gs_id + '" selected>' + element.gs_descricao + '</option>';
                       $('#id_grupo_servico').val(element.gs_id);
                    }
                    else
                        toAppend += '<option value="' + element.gs_id + '">' + element.gs_descricao + '</option>';
				});
				$('#id_grupo_servico').append(toAppend);
                atualizaServico();
                setaLocalizacao();
			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Grupos de Serviços');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})
    }
	function atualizaServico() {
		$('#id_servico').empty();
		if ($('#id_grupo_servico').val() == '' || $('#id_grupo_servico').val() == null) {
			request_url = '/chamado/api/servico/99999';
        }
       	else {
    		  request_url = '/chamado/api/servico/' + $('#id_grupo_servico').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var toAppend = '';
				$.each(result, function(index, element) {
					if (element.servico_id == valor_servico)
						toAppend += '<option value="' + element.servico_id + '" selected>' + element.servico_descricao + '</option>';
					else
						toAppend += '<option value="' + element.servico_id + '">' + element.servico_descricao + '</option>';
				});
				/*
                if (toAppend == '') {
				    toAppend = '<option value="0">----------</option>'
                }
                */
                $('#id_servico').append(toAppend);
                setaPatrimonio();

			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Serviços');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})
    }

    function volta_fila() {
		location.href = '/chamado/';
    }

    function salvarChamado() {
    	$('#formulario').submit();
    }

    function setaPatrimonio() {
    	if ($('#id_grupo_servico').val() == '' || $('#id_grupo_servico').val() == null) {
			request_url = '/chamado/api/patrimonio/99999';
        }
       	else {
    		  request_url = '/chamado/api/patrimonio/' + $('#id_grupo_servico').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var patrimonio = false;
				$.each(result, function(index, element) {
					patrimonio = ! element.patrimonio_obrigatorio;
				});
				if (patrimonio) {
					$('#id_patrimonio').removeAttr('required');
					$('#id_patrimonio').attr('disabled', true);
				}
				else {
					$('#id_patrimonio').attr('required', 'required');
					$('#id_patrimonio').attr('disabled', false);
				}
			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Serviços');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})

    }

    function atualizaLocalizacao() {
		valor_localizacao = $('#id_localizacao').val();
		valor_pavimento = $('#id_pavimento').val();
		$('#id_localizacao').empty();
		request_url = '/chamado/api/localizacao/';
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var toAppend = '';
				$.each(result, function(index, element) {
                    if (element.localizacao_id == valor_localizacao) {
					   toAppend += '<option value="' + element.localizacao_id + '" selected>' + element.localizacao_descricao + '</option>';
                       $('#id_localizacao').val(element.localizacao_id);
                    }
                    else
                        toAppend += '<option value="' + element.localizacao_id + '">' + element.localizacao_descricao + '</option>';
				});
				$('#id_localizacao').append(toAppend);
                atualizaPavimento();
			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Localizações');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})
    }
	function atualizaPavimento() {
		$('#id_pavimento').empty();
		if ($('#id_localizacao').val() == '' || $('#id_localizacao').val() == null) {
			request_url = '/chamado/api/pavimento/99999';
        }
       	else {
    		  request_url = '/chamado/api/pavimento/' + $('#id_localizacao').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var toAppend = '';
				$.each(result, function(index, element) {
					if (element.pavimento_id == valor_pavimento) {
						toAppend += '<option value="' + element.pavimento_id + '" selected>' + element.pavimento_descricao + '</option>';
						$('#id_pavimento').val(element.pavimento_id);
					}
					else
						toAppend += '<option value="' + element.pavimento_id + '">' + element.pavimento_descricao + '</option>';
				});
				/*
                if (toAppend == '') {
				    toAppend = '<option value="0">----------</option>'
                }
                */
                $('#id_pavimento').append(toAppend);
                //setaPatrimonio();

			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Pavimentos');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})
    }

    function setaLocalizacao() {
    	if ($('#id_setor').val() == '' || $('#id_setor').val() == null) {
			request_url = '/chamado/api/localizacao_setor/99999';
        }
       	else {
    		  request_url = '/chamado/api/localizacao_setor/' + $('#id_setor').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var localizacao = false;
				$.each(result, function(index, element) {
					localizacao = ! element.localizacao;
				});
				if (localizacao) {
					$('#id_localizacao').removeAttr('required');
					$('#id_localizacao').attr('disabled', true);
					$('#id_pavimento').removeAttr('required');
					$('#id_pavimento').attr('disabled', true);
				}
				else {
					$('#id_localizacao').attr('required', 'required');
					$('#id_localizacao').attr('disabled', false);
					$('#id_pavimento').attr('required', 'required');
					$('#id_pavimento').attr('disabled', false);
				}
			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar dados do Setor');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})

    }
</script>
{% endblock %}