{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Chamados{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">Criar novo chamado</div>
		<div class="panel-body">
			<form name="formulario" id="formulario" method="post" action="">
				{% crispy form %}
				<input type="hidden" name="usuario_id" id="usuario_id" value="{{user.id}}"/>
			</form>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-body">
	    	<div class="col-md-12 row">
	    		<input type="button" onclick="javascript:volta_fila();" value="Voltar à fila" class="btn btn-default"/> 
				<button type="button" class="btn btn-primary" onclick="javascript:salvarChamado();">Salvar</button>
	    	</div>
	    </div>
	</div>
    

{% endblock %}

{% block extra_javascript %}
<script>
	var valor_grupo;
	var valor_servico;

	$(document).ready(function () {
		atualizaGrupoServico();
		atualizaServico();

		$('#id_setor').on('change', function() {
            atualizaGrupoServico();    
    	});
		$('#id_grupo_servico').on('change', function() {
    		atualizaServico();
    	});
	});

	function atualizaGrupoServico() {
		valor_grupo = $('#id_grupo_servico').val();
		valor_servico = $('#id_servico').val();
		$('#id_grupo_servico').empty();
		if ($('#id_setor option:selected').val() == '' || $('#id_setor option:selected').val() == '0') {
			request_url = '/chamado/api/grupo_servico/99999';
        }
       	else {
    		  request_url = '/chamado/api/grupo_servico/' + $('#id_setor option:selected').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var toAppend = '';
				$.each(result, function(index, element) {
                    if (element.gs_id == valor_grupo) {
					   toAppend += '<option value="' + element.gs_id + '" selected>' + element.gs_descricao + '</option>';
                       $('#id_grupo_servico').val(element.gs_id);
                    }
                    else
                        toAppend += '<option value="' + element.gs_id + '">' + element.gs_descricao + '</option>';
				});
				$('#id_grupo_servico').append(toAppend);
                atualizaServico();
			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Grupos de Serviços');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})
    }
	function atualizaServico() {
		$('#id_servico').empty();
		if ($('#id_grupo_servico').val() == '' || $('#id_grupo_servico').val() == null) {
			request_url = '/chamado/api/servico/99999';
        }
       	else {
    		  request_url = '/chamado/api/servico/' + $('#id_grupo_servico').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var toAppend = '';
				$.each(result, function(index, element) {
					if (element.servico_id == valor_servico)
						toAppend += '<option value="' + element.servico_id + '" selected>' + element.servico_descricao + '</option>';
					else
						toAppend += '<option value="' + element.servico_id + '">' + element.servico_descricao + '</option>';
				});
				/*
                if (toAppend == '') {
				    toAppend = '<option value="0">----------</option>'
                }
                */
                $('#id_servico').append(toAppend);
                setaPatrimonio();

			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Serviços');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})
    }

    function volta_fila() {
		location.href = '/chamado/';
    }

    function salvarChamado() {
    	$('#formulario').submit();
    }

    function setaPatrimonio() {
    	if ($('#id_grupo_servico').val() == '' || $('#id_grupo_servico').val() == null) {
			request_url = '/chamado/api/patrimonio/99999';
        }
       	else {
    		  request_url = '/chamado/api/patrimonio/' + $('#id_grupo_servico').val();
        }
		$.ajax({
			url: request_url,
			dataType: 'json',
			success: function(result){
				var patrimonio = false;
				$.each(result, function(index, element) {
					patrimonio = ! element.patrimonio_obrigatorio;
				});
				if (patrimonio) {
					$('#id_patrimonio').removeAttr('required');
					$('#id_patrimonio').attr('disabled', true);
				}
				else {
					$('#id_patrimonio').attr('required', 'required');
					$('#id_patrimonio').attr('disabled', false);
				}
			},
			error: function(xhr, status, error) {
				console.log('Erro ao carregar Serviços');
				console.log(xhr.readyState);
				console.log(status);
				console.log(error);
			}
		})

    }
</script>
{% endblock %}