{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Chamados{% endblock %}

{% block content %}
	<div class="panel panel-primary">
        <div class="panel-heading">Chamados realizados pelo usuário : <b>{{ user }}</b></div>
        <div class="panel-body">
        	<div class="row">
                <div class="col-sm-12">
                	<table id="tchamados" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                </div>
            </div>
        </div>
	</div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" onclick="javascript:criaChamado();">Criar chamado</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
<script>
	
    $(document).ready(function() {
        var table = $('#tchamados').DataTable({
            responsive: true,
            "columns": [
                {
                    title: "Chamado" ,
                    data: 'chamado_id'
                },
                {
                    title: "Aberto",
                    data: 'data_abertura', 
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
                {
                    title: "Setor",
                    data: 'setor',
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
                {
                    title: "Grupo Serviço",
                    data: 'grupo_servico',
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
                { 
                        title: "Serviço",
                        data: 'servico',
                        render: function(data, type, full, meta) {
                            return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                        }
                    },
                {
                    title: "Status",
                    data: 'status',
                    render: function(data, type, full, meta) {
                        return '<a href="/chamado/detalhe/' + full.chamado_id + '/">'+ data + '</a>';
                    }
                    
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": true,
                },
                {
                    "targets": [1],
                    "visible": true,
                },
                {
                    "targets": [2],
                    "visible": true,
                },
                {
                    "targets": [3],
                    "visible": true,
                },
                {
                    "targets": [4],
                    "visible": true,
                },
                {
                    "targets": [5],
                    "visible": true,
                },
                {
                    "targets": [6],
                    "visible": true,
                    "className": "dt-center",
                    "data": null,
                    render: function(data, type, full, meta) {
                        if (full.novidade)
                            return '<i class="fa fa-envelope" aria-hidden="true" style="color:red;"></i>';
                        else
                            return '';
                    }
                },
            ],
            "language": {
                "info": "Páginas _PAGE_ de _PAGES_",
                "emptyTable": "Você nunca abriu algum chamado",
                "decimal": ",",
                "thousands": ".",
                "oPaginate": {
                    "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                    "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                    "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                    "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                }
            },
            "bPaginate" : true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "ajax": {
                "url": "/chamado/api/chamados_usuario/{{ user.id }}",
                "dataSrc": "",
            },
        });

        var tim = setInterval(function() {
			table.ajax.reload(null, false);
		}, 10000);

    });

    function criaChamado() {
        location.href = '/chamado/cria/';
    }

</script>
{% endblock %}