{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Grupos de Serviço</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tgrupos" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" onclick="javascript:criaGrupo();">Novo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Confirma exclusão ?</h4>
          </div>
          <div class="modal-body">
            <h4>Grupo: <span id="grupo_descricao" name="grupo_descricao"/></h4>
            <form class="exclui" method="POST" action="/cadastro/grupo_servico/delete/">{% csrf_token %}
              <div class="form-group">
                <input type="hidden" name="pk" id="pk" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="submit">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block extra_javascript %}

    <script>

        var tableGrupos;

        $(document).ready(function() {
            $("button#submit").click(function() {
                exclui();
                $("#confirmaModal").modal('hide');
            })

            tableGrupos = $('#tgrupos').DataTable({
                responsive: true,
                "order": [[ 1, "asc" ]],
                "columns": [
                    { 
                        title: "ID" ,
                        data: 'gs_id'
                    },
                    { 
                        title: "Grupo",
                        data: 'gs_descricao',
                        render: function(data, type, full, meta) {
                            return '<a href="/cadastro/grupo_servico/edit/' + full.gs_id + '">' + data + '</a>';
                        }
                    }
                    
                ],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": [2],
                        "visible": true,
                        "searchable": false,
                        "className": "dt-center",
                        "data": null,
                        render: function(data, type, full, meta) {
                            return '<a href="" data-toggle="modal" data-target="#confirmaModal" data-grupo_id="' + full.gs_id + '" data-grupo_descricao="' + full.gs_descricao + '"><i class="far fa-trash-alt" aria-hidden="true" style="color:Tomato;" title="Exclui Grupo de Serviço"></i></a>';
                        }
                }

                ],
                "language": {
                    "info": "Páginas _PAGE_ de _PAGES_",
                    "emptyTable": "Sem dados para mostrar",
                    "decimal": ",",
                    "thousands": ".",
                    "oPaginate": {
                        "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                        "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                        "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                        "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                    }
                },
                "deferRender": true,
                "bPaginate" : true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "ajax": {
                    "url": "/chamado/api/grupo_servico_todos/{{ request.session.setor_id }}/",
                    "dataSrc": "",
                },
                "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            });

        });

        $('#confirmaModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var pk = button.data('grupo_id');
            var recipient = button.data('grupo_descricao');
            var modal = $(this);
            modal.find('#pk').val(pk);
            modal.find('#grupo_descricao').html(recipient);
        });


        function criaGrupo() {
            location.href = '/cadastro/grupo_servico/new/';
        }

        function exclui() {
            request_url = '/cadastro/api/grupo_servico/delete/' + $('#pk').val() + '/';

            $.ajax({
                url: request_url,
                type: 'POST',
                accepts: 'application/json',
                dataType: 'json',
                data: $('form.exclui').serialize(),
                success: function(result){
                    console.log($('form.exclui').serialize());
                    tableGrupos.ajax.reload(null, false);
                },
                error: function(xhr, status, error) {
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            })
        }
    </script>

{% endblock %}